h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
     color: black

}


#ajouter{
    color :azure;
    
}

#annuler{
    color :azure;
}


//popup
.model-full {
    width: 100% !important;
    height: 100% !important;
    border-radius: 60px;
    border-color: #ffaa00;
    color:black;
  }


//boutton Close
#button {
    opacity: 5;
    background-color:#d1051b;
    color: #fff;
    padding: 0;
    font-size: 2em;
    font-weight: 500;
    text-shadow: 0 1px 20px #fff;



}
 
  
   

    
  
    
  