#u {
    
    position: relative;
    left: 170px;
   
  
}
#mdp {
    
    position: relative;
    left: 170px;  
}


#btn{
    position: relative;
    left: 230px; 

}

#icon {
    //width:30%;
   // text-align: center;
   width: 20%;
  position: absolute;
  top: 25%;
  left: 55%;
  transform: translate(-50%, -50%);
 }

 h1{
color:rgb(255, 255, 255);
 }

